body{
    margin: 0;
    padding: 0
}
.wrapper{
    border: 1px solid #000;
    height: auto;
    width: 90%;
    margin: 0 auto;
}
.header{
    background-repeat: no-repeat;
    background-size: auto;
    border: 1px solid #000;
    height: 180px;
    width: 100%;
}
.menu{
    border: 1px solid #000;
    height: 50px;
    width: 100%;
    background-color: #3399ff;
}
ul.list-menu{
    padding: 0;
    margin: 0 auto;
    list-style: none;
    line-height: 27px;
    display: flex;
    width: 59%;
}
ul.list-menu li{
    margin: 8px;
    padding: 5px;
}
ul.list-menu li:hover{
    background-color: bisque;
}
ul.list-menu li a{
    text-decoration: none;
    text-align: center;
    color: #fff;
}
.main{
    border: 1px solid #000;
    height: auto;
    width: 100%;
}
.sidebar{
    border: 1px solid #000;
    height: 390px;
    width: 20%;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}
ul.list-sidebar{
    padding: 0;
    list-style: none;
    line-height: 27px;
    width: 100%;
    color: #3399ff;
}
ul.list-sidebar li{
    margin: 8px;
    padding: 5px;
}
ul.list-sidebar li:hover{
    background-color: bisque;
}
ul.list-sidebar li a{
    text-decoration: none;
    text-align: left;
    color: #fff;
    display: block;
    color: #58a6f4;
}
.main-content{
    height: auto;
    width: 78%;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}
ul.list-product{
    padding: 0;
    margin: 0;
    list-style: none;
    width:100%;
    float: left;
}
ul.list-product li{
    width: 18%;
    border: 1px dashed #ccc;
    margin: 5px;
    float: left;
    background-color: #f2f2f2;
    height: 220px;
}
ul.list-product li img{
    width: 100%;
    height: 100px;
    margin-top: 10px;
}
ul.list-product li a{
    text-decoration: none;
    text-align: center;
}
p.name_product{
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
p.price_product{
    color: red;
    font-size: 16px;
}
.footer{
    border: 1px solid #000;
    height: 150px;
    width: 100%;
    background-color: #6caceb;
}
.footer .copyright{
    text-align: center;
    color: #ccc;
}
.clear{
    clear: both;
}